* { margin: 0; padding: 0; }
    *,
    *:after,
    *:before { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
input, button, * { -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; }
ul,
ol { list-style: none; }
html { font-size: 100px; font-size: calc(26.666666666666668vw); -webkit-font-smoothing: antialiased; /*抗锯齿*/ -moz-osx-font-smoothing: grayscale; font-family: "microsoft yahei"; }
body { 
    font-size: 0.12rem; 
    width: 100%; 
    color: #333;
    font-family: "Microsoft yahei";
    background-color: #f1f4f8;
}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.top-wp {
    width: 100%;
    height: 2rem;
    background-image: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
}
.top-wp .title {
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0 0.7rem 0;
}
.top-wp .examples {
    width: 1.85rem;
    text-align: center;
    line-height: 0.42rem;
    background-color: rgba(245, 211, 15, 1);
    border-radius: 0.195rem;
    font-size: 0.13rem;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -0.925rem;
    overflow: hidden;
}
.top-wp .examples .select {
    width: 0.12rem;
    height: auto;
    position: relative;
    left: 0.06rem;
}
.top-wp .examples .sd {
    position: relative;
    left: 0.06rem;
    top: -0.02rem;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.top-wp .examples .option {
    display: none;
}
.top-wp .examples .option ul:after {
    content: "";
    display: block;
    clear: both;
}
.top-wp .examples .option ul li {
    height: 0.5rem;
    line-height: 0.5rem;
    border-top: 1px solid #dcbd0d;
}
.top-wp .examples .option ul li a {
    color: #333;
}
.top-wp .search {
    width: 3.55rem;
    height: 0.5rem;
    line-height: 0.5rem;
    background-color: #fff;
    margin: 0.19rem auto;
    border-radius: 0.06rem;
}
.top-wp .search input {
    border: none;
    outline: none;
    font-size: 0.14rem;
    color: #333;
    width: 3rem;
}
.top-wp .search input::-webkit-input-placeholder{ 
color: #4f4f60; 
/*font-family: "Microsoft yahei";*/
} 
.top-wp .search input:-moz-placeholder{ 
color: #4f4f60; 
} 
.top-wp .search input::-moz-placeholder{ 
color: #4f4f60; 
} 
.top-wp .search input:-ms-input-placeholder{ 
color: #4f4f60; 
} 
.top-wp .search img {
    width: 0.28rem;
    height: auto;
    position: relative;
    top: 0.08rem;
}

.foods-wp {
    margin-top: 0.41rem;
    padding: 0 0.25rem;
    color: #31313a;
    /*display: none;*/
}
.foods-wp img {
    width: 0.4rem;
    height: auto;
}
.com-food span {
    font-size: 0.16rem;
    display: inline-block;
    position: relative;
    top: -0.08rem;
    z-index: -1;
}
.com-food ul.foods {
    margin-top: 0.1rem;
}
.com-food ul.foods:after {
    content: "";
    display: block;
    clear: both;
}
.com-food ul.foods li {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bbbec3;
    height: 0.35rem;
    line-height: 0.35rem;
    width: 30%;
    font-size: 0.14rem;
    border-radius: 0.17rem;
    text-align: center;
    margin: 0 0.1rem 0.15rem 0;
    overflow: hidden;
}

/*search-nothing*/
.search-nothing {
    width: 3.55rem;
    height: 2.55rem;
    margin: 0.5rem auto;
    border: 1px dashed #aeb4bb;
    border-radius: 0.05rem;
    text-align: center;
    display: none;
}

.search-nothing ul {
    margin: 0.47rem 0 0 0.24rem;
}
.search-nothing ul li.food-name {
    width: 1rem;
    height: 1.02rem;
    background-image: url(../img/Im.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 1rem;
    font-size: 0.12rem;
}
.search-nothing ul li {
    float: left;
}
.search-nothing ul:after {
    content: "";
    display: block;
    clear: both;
}
.search-nothing ul li.fruits-img {
    width: 1.85rem;
    margin-left: 0.28rem;
}
.search-nothing ul li.fruits-img img{
    width: 100%;
    height: auto;
}
.search-nothing .txt {
    margin-top: 0.32rem;
    font-size: 0.16rem;
}

/*search-foods*/
.search-foods {
    width: 3.55rem;
    margin: 0.47rem auto;
    display: none;
}
.foods-top {
    height: 1.3rem;
    border: 1px solid #d2d6dc;
    background-color: #fff;
    border-radius: 0.03rem;
}
.foods-top > div {
    float: left;
}

.foods-top .foods-icon {
    width: 1.3rem;
    margin: 0.14rem 0 0 0.22rem;
}
.foods-top .foods-icon img{
    width: 100%;
    height: auto;
}
.foods-top .foods-detail {
    margin: 0.23rem 0 0 0.28rem;
}
.foods-top .foods-detail .stars {
    width: 1.44rem;
    height: 0.23rem;
    background-repeat: no-repeat;
    background-size: cover;
}
/*stars five status*/
.foods-top .foods-detail .star1 {
    background-image: url(../img/star1.png);
}
.foods-top .foods-detail .star2 {
    background-image: url(../img/star2.png);
}
.foods-top .foods-detail .star3 {
    background-image: url(../img/star3.png);
}
.foods-top .foods-detail .star4 {
    background-image: url(../img/star4.png);
}
.foods-top .foods-detail .star5 {
}
.foods-detail .name {
    font-size: 0.22rem;
}
.foods-detail .tuijian {
    font-size: 0.12rem;
    margin: 0.1rem 0 0.08rem 0;
}
.content {
    margin: 0.1rem 0;
}
.content img{
    width: 0.41rem;
    height: auto;
}
.content span {
    font-size: 0.16rem;
    position: relative;
    top: -0.08rem;
}
.detail-wp {
    border: 1px solid #d2d6dc;
    background-color: #fff;
    border-radius: 0.03rem; 
    padding: 0.14rem;
    margin-bottom: 0.05rem;
}
.detail-wp > div {
    float: left;
}
.detail-wp:after {
    content: "";
    display: block;
    clear: both;
}
.elements-icon span {
    display: inline-block;
    width: 0.27rem;
    height: 0.27rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.elements-icon span.va {
    background-image: url(../img/va.png);
}
.elements-icon span.vb2 {
    background-image: url(../img/vb2.png);
}
.elements-icon span.vb6 {
    background-image: url(../img/vb6.png);
}
.elements-icon span.vb12 {
    background-image: url(../img/vb12.png);
}
.elements-icon span.vc {
    background-image: url(../img/vc.png);
}
.elements-icon span.vd {
    background-image: url(../img/vd.png);
}
.elements-icon span.vk {
    background-image: url(../img/vk.png);
}
.elements-icon span.yesuan {
    background-image: url(../img/yesuan.png);
}
.elements-icon span.xi {
    background-image: url(../img/xi.png);
}
.elements-icon span.tie {
    background-image: url(../img/tie.png);
}
.elements-icon span.xin {
    background-image: url(../img/xin.png);
}
.elements-icon span.amg3 {
    background-image: url(../img/amg3.png);
}
.elements-icon span.amg6 {
    background-image: url(../img/amg6.png);
}
.detail {
    margin: 0.05rem 0 0 0.08rem;
    width: 89%;

}
.detail .elt-name {
    float: left;
}
.detail .elt-name span {
    font-size: 0.16rem;
}
.detail ul {
    float: right;
    margin-top: 0.02rem;
}
.detail ul li {
    float: left;
    color: #9191a2;
    font-size: 0.12rem;
}

.detail-top {
    border-bottom: 1px solid #e8ecf1;
    padding-bottom: 0.13rem;
}
.detail-top:after {
    content: "";
    display: block;
    clear: both;
}
.power {
    margin-top: 0.07rem;
}
.power table {
    width: 100%;
}
.power .icons {
    display: inline-block;
    width: 0.22rem;
    height: 0.2rem;
    position: relative;
    top: 0.05rem;
    margin-right: 0.02rem;
}

/*three status*/
.power .normal {
    background: url(../img/normal.png) no-repeat;
    background-size: contain;
}
.power .strong {
    background: url(../img/strong.png) no-repeat;
    background-size: contain;
}
.power .weak {
    background: url(../img/weak.png) no-repeat;
    background-size: contain;
}
.power tr {
    height: 0.25rem;
}
.power th {
    width: 33%;
    text-align: left;
    color: #9191a2;
    font-weight: normal;
    font-size: 0.12rem;
}
.power td {
    font-size: 0.14rem;
}

.power td.num {
    font-size: 0.15rem;
}
/*.tiao {
    width: 1rem;
    height: 0.07rem;
    background-color: #e8ecf1;
    margin: 0.05rem 0 0 0.09rem; 
    position: relative;
}
.tiao .tiao-bg {
    background: url(../img/tiao-bg.png) no-repeat;
    height: 100%;
    width: 0%;
}*/

.longbox {
    position: relative;
    overflow: hidden;
    width: 1rem;
    height: 0.07rem;
    background-color: #e8ecf1;
    margin: 0.05rem 0 0 0.09rem; 
}
.longbox .longbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/tiao-bg.png) no-repeat;
    background-size: 100% 100%;
}
.longbox .topbox.on1 {
    width: 50%;
}
.longbox .topbox {
    background: #e8ecf1;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
}
.longbox .animates {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e8ecf1;
}
.animate {
    -webkit-animation: animate 2s ease-in-out;
    -moz-animation: animate 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes animate{
    0%{-webkit-transform:translateX(0)}
    100%{-webkit-transform:translateX(200%)}
}
@-moz-keyframes animate{
    0%{-moz-transform:translateX(0)}
    100%{-moz-transform:translateX(200%)}
}